.DS_Store
node_modules/
.env
package-lock.json
.npmrc
/.vscode/
/.idea/

# Cypress
cypress/screenshots/
cypress/videos/
cypress/snapshots/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
Thumbs.db
Icon?
node_modules/
.env
.DS_Store
dist/
cypress/downloads/
cypress/screenshots/
cypress/videos/
